<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<title>Update</title>
<style type="text/css">
  .data{
    line-height: 1.5;
    font-size: 16px;
    width: 350px;
  }
  .aaa{
    line-height: 1.5;
    font-size: 16px;
    width: 100px;
  }
</style>
<body>
<h1>List Update Page</h1>
<p>{{title}}  {{content}}</p>
<ul>
    {% for user in data %}
        <form method="post">
        <input class="data" value="{{ user.url }}" name="url" type="url" readonly>
        <input class="aaa" value="{{ user.size }}" name="size" type="size" />
        <input class="aaa" value="{{ user.remark }}" name="remark" type="remark" />
        <input value="Edit" type="submit" />
        </form>
    {% endfor %}
</ul>
</body>
</html>